{:test-sources "test"
 :test-output "test-results.log"
 :cljs-sources ("src/cljc" "src/cljs")
 :cljs-options {:output-to "resources/js/hibiscus.js"
                :optimizations :whitespace
                ;:optimizations :advanced
                :pretty-print true}}
